@namespace MyShared

<tr>
    <td>
        Event IO ID
    </td>
    <td>
        <code>@IOElement.eventIoId.ToString("X2")</code>
    </td>
    <td>
        @IOElement.eventIoId
    </td>
</tr>
<tr>
    <td>
        Total number of IO
    </td>
    <td>
        <code>@IOElement.totalCount.ToString("X2")</code>
    </td>
    <td>
        @IOElement.totalCount
    </td>
</tr>
<tr>
    <td>
        Number of One Byte IO
    </td>
    <td>
        <code>@IOElement.oneByteValuesCount.ToString("X2")</code>
    </td>
    <td>
        @IOElement.oneByteValuesCount
    </td>
</tr>
<Codec8OneByteIdValuePairs OneByteIdValuePairs="@IOElement.oneByteIdValuePairs" />

<tr>
    <td>
        Number of Two Byte IO
    </td>
    <td>
        <code>@IOElement.twoByteValuesCount.ToString("X2")</code>
    </td>
    <td>
        @IOElement.twoByteValuesCount
    </td>
</tr>
<Codec8TwoByteIdValuePairs TwoByteIdValuePairs="@IOElement.twoByteIdValuePairs" />

<tr>
    <td>
        Number of Four Byte IO
    </td>
    <td>
        <code>@IOElement.fourByteValuesCount.ToString("X2")</code>
    </td>
    <td>
        @IOElement.fourByteValuesCount
    </td>
</tr>
<Codec8FourByteIdValuePairs FourByteIdValuePairs="@IOElement.fourByteIdValuePairs" />

<tr>
    <td>
        Number of Eight Byte IO
    </td>
    <td>
        <code>@IOElement.eightByteValuesCount.ToString("X2")</code>
    </td>
    <td>
        @IOElement.eightByteValuesCount
    </td>
</tr>
<Codec8EightByteIdValuePairs EightByteIdValuePairs="@IOElement.eightByteIdValuePairs" />

@code {
    [Parameter, EditorRequired]
    public IOElementCodec8 IOElement { get; set; }
}