@namespace MyShared

@if (TwoByteIdValuePairs.Count > 0) 
{
    int ioCount = 1;
    @foreach ((byte[] Id, byte[] Value) in TwoByteIdValuePairs)
    {
        string ordinalNumber = Common.TurnToOrdinal(ioCount);
        <tr>
            <td>
                ↳ @ordinalNumber IO ID
            </td>
            <td>
                <code>@Common.GetByteArrayAsSplittedHex(Id)</code>
            </td>
            <td>
                @BytesToNumbers.GetUInt16(Id)
            </td>
        </tr>
        <tr>
            <td>
                ↳ @ordinalNumber IO Value
            </td>
            <td>
                <code>@Common.GetByteArrayAsSplittedHex(Value)</code>
            </td>
            <td>
                @BytesToNumbers.GetUInt16(Value) / @BytesToNumbers.GetInt16(Value)
            </td>
        </tr>
        ioCount++;
    }
}

@code {
    [Parameter, EditorRequired]
    public List<(byte[] Id, byte[] Value)> TwoByteIdValuePairs { get; set; }
}