@namespace MyShared

<p>AVL Data Record @RecordNumber</p>
<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Hex
            </th>
            <th>
                Value
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Timestamp
            </td>
            <td>
                <code>@Common.GetByteArrayAsSplittedHex(@AVLData.timestampBytes, DashHexes)</code>
            </td>
            <td>
                @AVLData.GetTimestamp().ToString("o")
            </td>
        </tr>
        <tr>
            <td>
                Priority
            </td>
            <td>
                <code>@AVLData.priority.ToString("X2")</code>
            </td>
            <td>
                @AVLData.priority
            </td>
        </tr>
        <Gps GPS="@GPS" DashHexes="@DashHexes" />
        <Codec8ExtendedIOElement IOElement="@IOElement" DashHexes="@DashHexes" />
    </tbody>
</table>

@code {
    [Parameter, EditorRequired]
    public AvlDataCodec8Extended AVLData { get; set; }

    [Parameter, EditorRequired]
    public GPSElement GPS { get; set; }

    [Parameter, EditorRequired]
    public IOElementCodec8Extended IOElement { get; set; }

    [Parameter, EditorRequired]
    public int RecordNumber { get; set; }

    [Parameter, EditorRequired]
    public bool DashHexes { get; set; }
}