@namespace MyShared

<tr>
    <td>
        Event IO ID
    </td>
    <td>
        <code>@Common.GetByteArrayAsSplittedHex(IOElement.eventIoId, DashHexes)</code>
    </td>
    <td>
        @BytesToNumbers.GetUInt16(IOElement.eventIoId)
    </td>
</tr>
<tr>
    <td>
        Total number of IO
    </td>
    <td>
        <code>@Common.GetByteArrayAsSplittedHex(IOElement.totalCount, DashHexes)</code>
    </td>
    <td>
        @BytesToNumbers.GetUInt16(IOElement.totalCount)
    </td>
</tr>
<tr>
    <td>
        Number of One Byte IO
    </td>
    <td>
        <code>@Common.GetByteArrayAsSplittedHex(IOElement.oneByteValuesCountBytes, DashHexes)</code>
    </td>
    <td>
        @BytesToNumbers.GetUInt16(IOElement.oneByteValuesCountBytes)
    </td>
</tr>
<Codec8ExtendedOneByteIdValuePairs OneByteIdValuePairs="@IOElement.oneByteIdValuePairs" DashHexes="@DashHexes" />

<tr>
    <td>
        Number of Two Byte IO
    </td>
    <td>
        <code>@Common.GetByteArrayAsSplittedHex(IOElement.twoByteValuesCountBytes, DashHexes)</code>
    </td>
    <td>
        @BytesToNumbers.GetUInt16(IOElement.twoByteValuesCountBytes)
    </td>
</tr>
<Codec8ExtendedTwoByteIdValuePairs TwoByteIdValuePairs="@IOElement.twoByteIdValuePairs" DashHexes="@DashHexes" />

<tr>
    <td>
        Number of Four Byte IO
    </td>
    <td>
        <code>@Common.GetByteArrayAsSplittedHex(IOElement.fourByteValuesCountBytes, DashHexes)</code>
    </td>
    <td>
        @BytesToNumbers.GetUInt16(IOElement.fourByteValuesCountBytes)
    </td>
</tr>
<Codec8ExtendedFourByteIdValuePairs FourByteIdValuePairs="@IOElement.fourByteIdValuePairs" DashHexes="@DashHexes" />

<tr>
    <td>
        Number of Eight Byte IO
    </td>
    <td>
        <code>@Common.GetByteArrayAsSplittedHex(IOElement.eightByteValuesCountBytes, DashHexes)</code>
    </td>
    <td>
        @BytesToNumbers.GetUInt16(IOElement.eightByteValuesCountBytes)
    </td>
</tr>
<Codec8ExtendedEightByteIdValuePairs EightByteIdValuePairs="@IOElement.eightByteIdValuePairs" DashHexes="@DashHexes" />

@code {
    [Parameter, EditorRequired]
    public IOElementCodec8Extended IOElement { get; set; }

    [Parameter, EditorRequired]
    public bool DashHexes { get; set; }
}