@namespace MyShared

<tr>
    <td>
        Longitude (<a href="@GetBingMapsUrl()" target="_blank">Bing Maps</a>)
    </td>
    <td>
        <code>@Common.GetByteArrayAsSplittedHex(GPS.longitudeBytes, DashHexes)</code>
    </td>
    <td>
        @GPS.GetLongitudeAngle()
    </td>
</tr>
<tr>
    <td>
        Latitude (<a href="@GetGoogleMapsUrl()" target="_blank">Google Maps</a>)
    </td>
    <td>
        <code>@Common.GetByteArrayAsSplittedHex(GPS.latitudeBytes, DashHexes)</code>
    </td>
    <td>
        @GPS.GetLatitudeAngle()
    </td>
</tr>
<tr>
    <td>
        Altitude
    </td>
    <td>
        <code>@Common.GetByteArrayAsSplittedHex(GPS.altitudeBytes, DashHexes)</code>
    </td>
    <td>
        @GPS.GetAltitude()
    </td>
</tr>
    <tr>
    <td>
        Angle
    </td>
    <td>
        <code>@Common.GetByteArrayAsSplittedHex(GPS.angleBytes, DashHexes)</code>
    </td>
    <td>
        @GPS.GetAngle()
    </td>
</tr>
<tr>
    <td>
        Satellites
    </td>
    <td>
        <code>@GPS.visibleSatellites.ToString("X2")</code>
    </td>
    <td>
        @GPS.visibleSatellites
    </td>
</tr>
<tr>
    <td>
        Speed
    </td>
    <td>
        <code>@Common.GetByteArrayAsSplittedHex(GPS.speedBytes, DashHexes)</code>
    </td>
    <td>
        @GPS.GetSpeed()
    </td>
</tr>

@code {
    [Parameter, EditorRequired]
    public GPSElement GPS { get; set; }

    [Parameter, EditorRequired]
    public bool DashHexes { get; set; }

    public string GetGoogleMapsUrl()
    {
        return $"https://www.google.com/maps/@{GPS.GetLatitudeAngle().ToString(CultureInfo.InvariantCulture)},{GPS.GetLongitudeAngle().ToString(CultureInfo.InvariantCulture)},14z";
    }

    public string GetBingMapsUrl()
    {
        return $"https://www.bing.com/maps?cp={GPS.GetLatitudeAngle().ToString(CultureInfo.InvariantCulture)}~{GPS.GetLongitudeAngle().ToString(CultureInfo.InvariantCulture)}";
    }
}